In [ ]:
f=input("first name: ")
l=input ("last name:")
print(l,f)

first name: ali
last name:sghari
sghari ali

In [ ]:
n=input("input number: ")

a=n*3
b=n*2
c=n*1
a=int(a)
b= int(b)
c=int(c)

print(a+b+c)

input number: 5
615

In [ ]:
a=int(input("input number"))
if a/2==True:
    print(a,"est paire")
else:
    print(a,"est impaire")

input number548566457893214657
548566457893214657 est impaire

In [2]:
for i in range (2000,3201):
    a=i%7
    b=i%5
    if a==0 and b==0:
        print(i," ",end="")

2030  2065  2100  2135  2170  2205  2240  2275  2310  2345  2380  2415  2450  2485  2520  2555  2590  2625  2660  2695  2730  2765  2800  2835  2870  2905  2940  2975  3010  3045  3080  3115  3150  3185

In [ ]:
while True :
  n = int(input('input number : '))
  if n>=0:
    break
a= 1
for i in range(1, n+1):
  a = a * i
print (n,'! = ',a)

input number : 8
8 ! =  40320

In [ ]:
ch=input("input text")

for i in range (0,(len(ch)),2):
    print(ch[i],end="")

input texthello team
hlota

In [5]:
p=int(input("input price"))
r=0
np=0
if p>=500:
  r=p/100*50
  np=p-r
elif 200<=p<500:
  r=p/100*30
  np=p-r
else:
  r=p/100*10
  np=p-r
print("new price",np)

input price500
350.0